@model New_MVC.Models.EmpState

<option value="">-- Select States --</option>
@if (ViewBag.SList != null)
{
    foreach (var item in ViewBag.SList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}